## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:/Users/abaze/OneDrive/Desktop/database/Classwork/World_Weather_Analysis\Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
0,0,Luderitz,-26.6481,15.1594,74.48,24,100,17.05,NaN,overcast clouds
1,1,Wagar,16.1525,36.2032,89.24,25,0,12.33,SD,clear sky
2,2,Rikitea,-23.1203,-134.9692,75.13,71,6,18.39,PF,clear sky
3,3,Cape Town,-33.9258,18.4232,60.12,64,0,5.01,ZA,clear sky
4,4,Ushuaia,-54.8000,-68.3000,55.02,57,40,31.07,AR,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Weather Description
0,0,Luderitz,-26.6481,15.1594,74.48,24,100,17.05,NaN,overcast clouds
2,2,Rikitea,-23.1203,-134.9692,75.13,71,6,18.39,PF,clear sky
8,8,Razole,16.4833,81.8333,78.57,90,100,2.28,IN,overcast clouds
9,9,Kanganpur,30.7663,74.1231,72.88,67,0,5.50,PK,clear sky
18,18,Kapaa,22.0752,-159.3190,78.48,80,40,5.99,US,light rain
21,21,Atuona,-9.8000,-139.0333,77.92,76,62,21.21,PF,light rain
22,22,Puerto Ayora,-0.7393,-90.3518,78.76,80,79,9.89,EC,broken clouds
27,27,Bambous Virieux,-20.3428,57.7575,74.21,78,75,12.66,MU,broken clouds
33,33,Sao Joao Da Barra,-21.6403,-41.0511,75.29,86,92,11.30,BR,overcast clouds
34,34,Colares,38.7992,-9.4469,75.45,68,0,1.99,PT,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             205
City                   205
Lat                    205
Lng                    205
Max Temp               205
Humidity               205
Cloudiness             205
Wind Speed             205
Country                204
Weather Description    205
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
2,Rikitea,PF,75.13,clear sky,-23.1203,-134.9692,
8,Razole,IN,78.57,overcast clouds,16.4833,81.8333,
9,Kanganpur,PK,72.88,clear sky,30.7663,74.1231,
18,Kapaa,US,78.48,light rain,22.0752,-159.3190,
21,Atuona,PF,77.92,light rain,-9.8000,-139.0333,
22,Puerto Ayora,EC,78.76,broken clouds,-0.7393,-90.3518,
27,Bambous Virieux,MU,74.21,broken clouds,-20.3428,57.7575,
33,Sao Joao Da Barra,BR,75.29,overcast clouds,-21.6403,-41.0511,
34,Colares,PT,75.45,clear sky,38.7992,-9.4469,
38,Borborema,BR,77.43,broken clouds,-21.6197,-49.0736,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": ""} 


# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
        
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"] 
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna() 
clean_hotel_df.count()

City                   204
Country                204
Max Temp               204
Weather Description    204
Lat                    204
Lng                    204
Hotel Name             204
dtype: int64

In [10]:
# 8a. Create the output File (CSV)
output_data_file = "C:/Users/abaze/OneDrive/Desktop/database/Classwork/World_Weather_Analysis/Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl> 
"""
#</dt><dd> 
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots.

#locations = clean_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info) 
# 11b. Display the figure
 
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))